/.*
!/.gitignore
/*.crt
/*.csr
/*.cfg
/*.key
/pki/*.crt
/pki/*.csr
/pki/*.cfg
/pki/*.key
/pki/ca/key
/pki/ca/request
/pki/ca/certificate
/pki/ca/certs
/pki/ca/serial
/pki/ca/serial.old
/pki/ca/index
/pki/ca/index.old
/pki/ca/index.attr
/pki/ca/index.attr.old
